@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    margin: 0px;
    overflow-x: hidden;
}

.active{
    color:blueviolet;
}


*::-webkit-scrollbar-track
{
	border: 1px solid blueviolet;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb
{
	background-color: blueviolet;	
}